//NOTE: having trouble importing atoms and variables. Something to look into.
@import 'styles/_atoms.scss';
@font-face {
    font-family: 'Tombats';
    src: url('/styles/doodleFonts/Tombats-One.woff2') format('woff2'),
        url('/styles/doodleFonts/Tombats-One.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//SMALL SCREEN STYLES

//layout
html{
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

body{
    background-image: url(wood-591631.jpg);
    background-size: contain;
    height: 100%;
}

.page-wrapper{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    position: relative;
}


#zen-intro,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer{
    height: $page-height;
    margin-bottom: 200px; 
    //replace with atoms mixin...
    padding-left: 5%;
    box-shadow: $box-shadow;
    background: 
    linear-gradient(to top, $transparent 49%, $transparent 90%, $primary 60%), //top margin
    repeating-linear-gradient(0deg, $accent1 18.5%, $primary 18.8%, $primary 20.5%); //blue lines


}


.wrapper,
.sidebar,
.design-selection{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

.design-selection ul li{
    position: absolute;
    display: block;
    height: 125px;
    width: 125px;
    background-color:$stickyNote2;
    box-shadow: $box-shadow;
}

.design-selection ul li:nth-child(1){ //mid-century modern
    top: $page-height + 50px;
    
}

.design-selection ul li:nth-child(2){ //garments
    top: $page-height +25px;
    left: 110px;
}

.design-selection ul li:nth-child(3){ //steel
    top: $page-height + 45px;
    left: 275px;
}

.design-selection ul li:nth-child(4){ //apothecary
    top: 2 * $page-height + 275px;
    left: 25px;
    
}

.design-selection ul li:nth-child(5){ //screen filler
    top: 2 * $page-height + 250px;
    left: 200px;
}

.design-selection ul li:nth-child(6){ //fountain kiss
    top: 3 * $page-height + 450px;
    left: 35px;
}

.design-selection ul li:nth-child(7){ //a robot named Jimmy 
    top: 3 * $page-height + 465px;
    left: 150px
}

.design-selection ul li:nth-child(8){ //verde moderna
    top: 3 * $page-height + 450px;
    left: 250px;
}

.select, .archives{
    display: none;
}

.design-archives{
    position: absolute;
    width: 200px;
    text-align: center;
    top: 4800px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.design-archives nav{
    margin: 0 auto;
}

.zen-resources{
    position: absolute;
    top: 9000px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}
footer{
    box-sizing: border-box;
    height: $page-height;
    display: flex;
    flex-wrap: wrap;
    padding: 0 75px;
    padding-top: ($page-height/10 + 20px);
    padding-bottom: $page-height - 200px;
    align-items: flex-start;
    justify-content: center;
}

footer a{
    display: flex;
    border: 1px solid grey;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 10px;   
}

ul{
    list-style:none;
    padding: 0;
}


//doodle placement
.preamble::after{
    content: "B";
    font-family: 'Tombats';
    font-size: 8rem;
}
.explanation::after{
    content: "F";
    font-family: 'Tombats';
    font-size: 8rem;
}
.participation::after{
    content: "L";
    font-family: 'Tombats';
    font-size: 8rem;
}
.benefits p::before{
    content: "Q";
    font-family: 'Tombats';
    font-size: 8rem;
}
.benefits::after{
    content: "V";
    font-family: 'Tombats';
    font-size: 8rem;
}
