//NOTE: having trouble importing atoms and variables. Something to look into.
@import 'styles/_atoms.scss';

@font-face {
    font-family: 'Tombats';
    src: url('/styles/doodleFonts/Tombats-One.woff2') format('woff2'),
        url('/styles/doodleFonts/Tombats-One.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//SMALL SCREEN STYLES

//layout
html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

body {
    background-image: url(wood-591631.jpg);
    background-size: contain;
    height: 100%;

}

.page-wrapper {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    position: relative;
}


#zen-intro,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer {
    height: $page-height;
    margin-bottom: 20.333vw; 
    //replace with atoms mixin...
    padding-left: 5%;
    box-shadow: $box-shadow;
    background: 
    linear-gradient(to top, $transparent 49%, $transparent 90%, $primary 60%), //top margin
    repeating-linear-gradient(0deg, $accent1 18.5%, $primary 18.8%, $primary 20.5%); //blue lines
}

#zen-participation{
    margin-bottom:22.333vw;
    margin-top:25vw;
}

#zen-benefits{
    margin-top:30vw;
}


.wrapper,
.sidebar,
.design-selection {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.design-selection ul li {   //sticky notes
    position: absolute;
    display: block;
    height: 16.333vw;
    width: 16.333vw;
    background-color:$stickyNote2;
    box-shadow: $box-shadow;
    font-size: $small-font-size;
}

.design-selection ul li:nth-child(1) {
    //mid-century modern
    top: $page-height + 3.333vw;

}

.design-selection ul li:nth-child(2) {
    //garments
    top: $page-height +1.667vw;
    left: 7.333vw;
}

.design-selection ul li:nth-child(3) {
    //steel
    top: $page-height + 3vw;
    left: 18.333vw;
}

.design-selection ul li:nth-child(4) {
    //apothecary
    top: 2 * $page-height + 18.333vw;
    left: 1.667vw;

}

.design-selection ul li:nth-child(5) {
    //screen filler
    top: 2 * $page-height + 16.667vw;
    left: 13.333vw;
}

.design-selection ul li:nth-child(6) {
    //fountain kiss
    top: 3 * $page-height + 30vw;
    left: 2.333vw;
}

.design-selection ul li:nth-child(7) {
    //a robot named Jimmy 
    top: 3 * $page-height + 31vw;
    left: 10vw;
}

.design-selection ul li:nth-child(8) {
    //verde moderna
    top: 3 * $page-height + 30vw;
    left: 16.667vw;
}
.design-selection ul li:nth-child(1){ //mid-century modern
    top: $page-height + 5.333vw;
    
}

.design-selection ul li:nth-child(2){ //garments
    top: $page-height +2.667vw;
    left: 18.333vw;
}

.design-selection ul li:nth-child(3){ //steel
    top: $page-height + 4.5vw;
    left: 36.533vw;
}

.design-selection ul li:nth-child(4){ //apothecary
    top: 2 * $page-height + 29.333vw;
    left: 2.667vw;
    
}

.design-selection ul li:nth-child(5){ //screen filler
    top: 2 * $page-height + 25.667vw;
    right:2.667vw;
}

.design-selection ul li:nth-child(6){ //fountain kiss
    top: 3.1 * $page-height + 27vw;
    left: 2.333vw;
}

.design-selection ul li:nth-child(7){ //a robot named Jimmy 
    top: 3.1 * $page-height + 35vw;
    left:25vw;
}

.design-selection ul li:nth-child(8){ //verde moderna
    top: 3.1 * $page-height + 30vw;
    left: 45.667vw;
}

.design-name {
    font-size: $small-font-size;
}

.designer-name {
    font-size: $small-font-size;
}

.select,
.archives {
    display: none;
}

.design-archives {
    position: absolute;
    width: 13.333vw;
    text-align: center;
    top: 320vw;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.design-archives nav {
    margin: 0 auto;
}

.zen-resources {
    position: absolute;
    top: 600vw;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

footer {
    box-sizing: border-box;
    height: $page-height;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
    padding-top: ($page-height/10 + 1.333vw);
    padding-bottom: $page-height - 13.333vw;
    align-items: flex-start;
    justify-content: center;
}

footer a {
    display: flex;
    border: 0.067vw solid grey;
    width: 6.667vw;
    height: 2.667vw;
    align-items: center;
    justify-content: center;
    margin: 0.667vw;
}

ul {
    list-style: none;
    padding: 0;
}

a{
    z-index: 50;
}


//doodle placement
.preamble::after {
    content: "B";
    font-family: 'Tombats';
    font-size: 18.533vw;
}

.explanation::after {
    content: "F";
    font-family: 'Tombats';
    font-size: 18.533vw;
}

.participation::after {
    content: "L";
    font-family: 'Tombats';
    font-size: 18.533vw;
}

.benefits p::before {
    content: "Q";
    font-family: 'Tombats';
    font-size: 8.533vw;
    float: left;
}

.benefits::after {
    content: "V";
    font-family: 'Tombats';
    font-size: 18.533vw;
}


//Typography

body {
    @include body-text();
}

h1 {
    @include headings ($h1-size);

}

h2 {
    @include headings ($h2-size);
}

h3 {
    @include headings ($h3-size);
}

a {
    color: $linkColor;
}

a:hover {
    color: $linkHoverColor;

}

.design-selection ul li {
    @include sticky-note-type();

}

.design-selection ul li a {
    color: $penColor;

}

//layout for larger screens
@media screen and (min-width: 640px) {

    //reset positioning
    html,
    .page-wrapper,
    .wrapper,
    .sidebar,
    .design-selection,
    .design-archives,
    .zen-resources,
    .design-selection ul li{
        position: static;
    }

    .page-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .intro, .main{
        grid-column: 1/2;
        
    }

    .sidebar{
        grid-column: 2/3;
        grid-row: 1/2;
    }


    .design-selection ul li{
        height: $large-sticky-size;
        width: $large-sticky-size;
        margin: $sticky-margin;
        
    }

    .design-selection ul{
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(30, 10%);
        
    }

    .design-selection ul li:nth-child(1) {
        //mid-century modern
        grid-column: 2/7;
        
    
    }
    
    .design-selection ul li:nth-child(2) {
        //garments
        grid-column: 5/9;
        grid-row: 2/4;
    }
    
    .design-selection ul li:nth-child(3) {
        //steel
       grid-row: 8/10;
       grid-column: 2/6;
    }
    
    .design-selection ul li:nth-child(4) {
        //apothecary
        grid-row: 3/4;
        margin-left:(4*$sticky-margin);
        
    
    }
    
    .design-selection ul li:nth-child(5) {
        //screen filler
        grid-row: 5/7;
        grid-column:6/11;
        margin-left: (-3*$sticky-margin);
    }
    
    .design-selection ul li:nth-child(6) {
        //fountain kiss
        grid-row: 6/8;
    }
    
    .design-selection ul li:nth-child(7) {
        //a robot named Jimmy 
        grid-row: 7/9;
    
    }
    
    .design-selection ul li:nth-child(8) {
        //verde moderna
      grid-row: 9/11;
      margin-left:(3*$sticky-margin);
    }

 

    //large screen design-related things
    #zen-intro,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer {
    @include paper-texture();
}
   
}
