//NOTE: having trouble importing atoms and variables. Something to look into.
@import 'styles/_atoms.scss';
@font-face {
    font-family: 'Tombats';
    src: url('/styles/doodleFonts/Tombats-One.woff2') format('woff2'),
        url('/styles/doodleFonts/Tombats-One.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//SMALL SCREEN STYLES

//layout
html{
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

body{
    background-image: url(wood-591631.jpg);
    background-size: contain;
    height: 100%;
}

.page-wrapper{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    position: relative;
}


#zen-intro,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer{
    height: $page-height;
    margin-bottom: 13.333vw; 
    //replace with atoms mixin...
    padding-left: 5%;
    box-shadow: $box-shadow;
    background: 
    linear-gradient(to top, $transparent 49%, $transparent 90%, $primary 60%), //top margin
    repeating-linear-gradient(0deg, $accent1 18.5%, $primary 18.8%, $primary 20.5%); //blue lines


}


.wrapper,
.sidebar,
.design-selection{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

.design-selection ul li{
    position: absolute;
    display: block;
    height: 8.333vw;
    width: 8.333vw;
    background-color:$stickyNote2;
    box-shadow: $box-shadow;
    font-size: $small-font-size;
}

.design-selection ul li:nth-child(1){ //mid-century modern
    top: $page-height + 3.333vw;
    
}

.design-selection ul li:nth-child(2){ //garments
    top: $page-height +1.667vw;
    left: 7.333vw;
}

.design-selection ul li:nth-child(3){ //steel
    top: $page-height + 3vw;
    left: 18.333vw;
}

.design-selection ul li:nth-child(4){ //apothecary
    top: 2 * $page-height + 18.333vw;
    left: 1.667vw;
    
}

.design-selection ul li:nth-child(5){ //screen filler
    top: 2 * $page-height + 16.667vw;
    left: 13.333vw;
}

.design-selection ul li:nth-child(6){ //fountain kiss
    top: 3 * $page-height + 30vw;
    left: 2.333vw;
}

.design-selection ul li:nth-child(7){ //a robot named Jimmy 
    top: 3 * $page-height + 31vw;
    left: 10vw;
}

.design-selection ul li:nth-child(8){ //verde moderna
    top: 3 * $page-height + 30vw;
    left: 16.667vw;
}
.design-name{
    font-size:$small-font-size;
}
.designer-name{
    font-size:$small-font-size;
}

.select, .archives{
    display: none;
}

.design-archives{
    position: absolute;
    width: 13.333vw;
    text-align: center;
    top: 320vw;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.design-archives nav{
    margin: 0 auto;
}

.zen-resources{
    position: absolute;
    top: 600vw;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}
footer{
    box-sizing: border-box;
    height: $page-height;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
    padding-top: ($page-height/10 + 1.333vw);
    padding-bottom: $page-height - 13.333vw;
    align-items: flex-start;
    justify-content: center;
}

footer a{
    display: flex;
    border: 0.067vw solid grey;
    width: 6.667vw;
    height: 2.667vw;
    align-items: center;
    justify-content: center;
    margin: 0.667vw;   
}

ul{
    list-style:none;
    padding: 0;
}


//doodle placement
.preamble::after{
    content: "B";
    font-family: 'Tombats';
    font-size: 18.533vw;
}
.explanation::after{
    content: "F";
    font-family: 'Tombats';
    font-size: 18.533vw;
}
.participation::after{
    content: "L";
    font-family: 'Tombats';
    font-size: 18.533vw;
}
.benefits p::before{
    content: "Q";
    font-family: 'Tombats';
    font-size: 8.533vw;
    float:left;
}
.benefits::after{
    content: "V";
    font-family: 'Tombats';
    font-size: 18.533vw;
}
