@import 'variables';
@import 'type';





@mixin paper-texture-large() {
    box-shadow: $box-shadow;
    background: 
    linear-gradient(90deg, $transparent 7%, $accent2 7%, $transparent 7.5%), //red line
    linear-gradient(to top, $transparent 49%, $transparent 90%, $primary 60%), //top margin
    repeating-linear-gradient(0deg, $accent1 18.5%, $primary 18.7%, $primary 20%); //blue lines 
    
}

@mixin paper-texture-small() {
    box-shadow: $box-shadow;
    background: 
    linear-gradient(to top, $transparent 49%, $transparent 90%, $primary 60%), //top margin
    repeating-linear-gradient(0deg, $accent1 18.5%, $primary 18.8%, $primary 20.5%); //blue lines
}

