//layout for larger screens
@import "atoms";
@media screen and (min-width: 1150px) {

    //reset positioning
    html,
    .page-wrapper,
    .wrapper,
    .sidebar,
    .design-selection,
    .design-selection ul li {
        position: static;
    }
    h1{
        font-size:$h1-large-size;
    }
    h2{
        font-size:$h2-large-size;
    }
    h3{
        font-size:$h3-large-size;
    }
    p{
        font-size: $regular-large-font-size;
    }

    .intro{
        h1{
            margin-top:2rem;
            margin-left:1.2rem;
        }
        h2{
            margin-top:-3.2rem;
            margin-left:1.2rem;
        }
        div{
            margin-top:-2.4rem;
            margin-left:1.2rem;
        }
        .preamble{
            margin-top:-1.6rem;
            margin-left:1.2rem;
            h3{
                margin-bottom:-1rem;
            }
        }
    }
    
    .explanation, .participation, .benefits, .requirements{
        h3{
            padding-top:5rem;
            margin-left:1.2rem;
        }
        p{
            margin-top:-1.2rem;
            margin-left:1.2rem;
        }
        p:nth-child(2){
            margin-top:4rem;
        }
    }
    


    .page-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .intro,
    .main {
        grid-column: 1/2;

    }

    .sidebar {
        grid-column: 2/3;
        grid-row: 1/2;
        width: fit-content;
    }

    .design-selection{
        width: 110%;
    }

    .design-selection nav{
        width: $sidebar-width;
        margin-left:auto;

    }

    .design-selection ul {
        height: 100%;
        width: $sidebar-width;
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 80px;


    }


    .design-selection ul li {
        height: $large-sticky-size;
        width: $large-sticky-size;
        margin: $sticky-margin;
        font-size:$sticky-large-font-size;


        &:nth-child(1) {
            //mid-century modern
            content: '';
    
    
        }
    
        &:nth-child(2) {
            //garments
            margin-top: $sticky-margin*15;
            margin-left: $sticky-margin*-5;
        }
    
        &:nth-child(3) {
            //steel
            margin-top: $sticky-margin*-6;
        }
    
        &:nth-child(4) {
            //apothecary
            margin-left: (-14*$sticky-margin);
            margin-top: $sticky-margin*4;
    
    
        }
    
        &:nth-child(5) {
            //screen filler
            margin-left: (-6*$sticky-margin);
            margin-top: 13*$sticky-margin;
        }
    
        &:nth-child(6) {
            //fountain kiss
            margin-top: -5*$sticky-margin;
        }
    
        &:nth-child(7) {
            //a robot named Jimmy 
            margin-right: $sticky-margin*8;
            content: '';
        }
    
        &:nth-child(8) {
            //verde moderna
            margin-left: (5*$sticky-margin);
            margin-top: $sticky-margin*-4;

        }
    }



    .design-name{
        font-size:$small-large-size;
    }
    .designer-name{
        font-size:$small-large-size;
    }



    //large screen design-related things
    #zen-intro,
    #zen-explanation,
    #zen-participation,
    #zen-benefits,
    #zen-requirements,
    footer {
        @include paper-texture-large;
        height: $page-height-large;
    }

    .design-archives{
        font-size: $h3-large-size;
        top: $page-height*3.682;
        right: 33%;
    }

    .zen-resources{
        font-size: $h3-large-size;
        top: ($page-height*3.7) + 15vw;
        right: 33%;
    }

}