//layout for larger screens
@import "atoms";
@media screen and (min-width: 1000px) {

    //reset positioning
    html,
    .page-wrapper,
    .wrapper,
    .sidebar,
    .design-selection,
    .design-archives,
    .zen-resources,
    .design-selection ul li {
        position: static;
    }
    h1{
        font-size:$h1-large-size;
    }
    h2{
        font-size:$h2-large-size;
    }
    h3{
        font-size:$h3-large-size;
    }
    p{
        font-size: $regular-large-font-size;
    }

    .intro{
        h1{
            margin-top:2rem;
            margin-left:1.2rem;
        }
        h2{
            margin-top:-3.2rem;
            margin-left:1.2rem;
        }
        div{
            margin-top:-2.4rem;
            margin-left:1.2rem;
        }
        .preamble{
            margin-top:-1.6rem;
            margin-left:1.2rem;
            h3{
                margin-bottom:-1rem;
            }
        }
    }
    
    .explanation, .participation, .benefits, .requirements{
        h3{
            padding-top:5rem;
            margin-left:1.2rem;
        }
        p{
            margin-top:-1.2rem;
            margin-left:1.2rem;
        }
        p:nth-child(2){
            margin-top:4rem;
        }
    }
    


    .page-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .intro,
    .main {
        grid-column: 1/2;

    }

    .sidebar {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .design-selection nav{
   
        width: $sidebar-width;
    }

    .design-selection ul {
        height: 100%;
        width: $sidebar-width;
        margin-left: 20px;
        // display: grid;
        // grid-template-columns: repeat(10, 1fr);
        // grid-template-rows: repeat(60, 1fr);
        display: flex;
        flex-wrap: wrap;

    }


    .design-selection ul li {
        height: $large-sticky-size;
        width: $large-sticky-size;
        margin: $sticky-margin;
        font-size:$sticky-large-font-size;

        &:nth-child(1) {
            //mid-century modern
            // grid-column: 2/7;
            // grid-row: 1/2;
            content: '';
    
    
        }
    
        &:nth-child(2) {
            //garments
            // grid-column: 5/9;
            // grid-row: 2/4;
            margin-top: $sticky-margin*15;
            margin-left: $sticky-margin*-5;
        }
    
        &:nth-child(3) {
            //steel
            // grid-row: 8/10;
            // grid-column: 2/6;
            margin-top: $sticky-margin*-6;
        }
    
        &:nth-child(4) {
            //apothecary
            // grid-row: 3/4;
            margin-left: (-14*$sticky-margin);
            margin-top: $sticky-margin*4;
    
    
        }
    
        &:nth-child(5) {
            //screen filler
            // grid-row: 5/7;
            // grid-column: 6/11;
            margin-left: (-4*$sticky-margin);
            margin-top: 13*$sticky-margin;
        }
    
        &:nth-child(6) {
            //fountain kiss
            // grid-row: 6/8;
            margin-top: -5*$sticky-margin;
        }
    
        &:nth-child(7) {
            //a robot named Jimmy 
            // grid-row: 7/9;
            content: '';
        }
    
        &:nth-child(8) {
            //verde moderna
            // grid-row: 9/11;
            margin-left: (5*$sticky-margin);
            margin-top: $sticky-margin*-4;

        }
    }



    .design-name{
        font-size:$small-large-size;
    }
    .designer-name{
        font-size:$small-large-size;
    }



    //large screen design-related things
    #zen-intro,
    #zen-explanation,
    #zen-participation,
    #zen-benefits,
    #zen-requirements,
    footer {
        @include paper-texture-large;
        height: $page-height-large;
    }

}