//layout
html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

body {
    background-image: url(images/woodOptimized.jpg);
    background-size: contain;
    height: 100%;

}

.page-wrapper {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    position: relative;
}


#zen-intro,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer {
    height: $page-height;
    margin-bottom: 20.333vw; 
    padding-left: 5%;
    box-shadow: $box-shadow;
    background: 
    linear-gradient(to top, $transparent 49%, $transparent 90%, $primary 60%), //top margin
    repeating-linear-gradient(0deg, $accent1 18.5%, $primary 18.8%, $primary 20.5%); //blue lines
}

.intro{
    div{
        margin-top:4.5vw;
    }
    .preamble{
        margin-top:2.7vw;
    }
}

.explanation, .participation, .benefits, .requirements{
    h3{
        padding-top: $small-screen-top-of-page-padding;
    }
    p{
        margin-top:-.5vw;
    }
}


#zen-participation{
    margin-bottom:22.333vw;
    margin-top:25vw;
}

#zen-benefits{
    margin-top:30vw;
}

.wrapper,
.sidebar,
.design-selection {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    // z-index: -1;
}

.design-selection ul li {   //sticky notes
    position: absolute;
    display: block;
    height: 16.333vw;
    width: 16.333vw;
    background-color:$stickyNote2;
    box-shadow: $box-shadow;
    font-size: $small-font-size;

    &:nth-child(1){ //mid-century modern
        top: $page-height + 5.333vw;
        
    }
    
    &:nth-child(2){ //garments
        top: $page-height +2.667vw;
        left: 18.333vw;
    }
    
    &:nth-child(3){ //steel
        top: $page-height + 4.5vw;
        left: 36.533vw;
    }
    
    &:nth-child(4){ //apothecary
        top: 2 * $page-height + 29.333vw;
        left: 2.667vw;
        
    }
    
    &:nth-child(5){ //screen filler
        top: 2 * $page-height + 25.667vw;
        right:2.667vw;
    }
    
    &:nth-child(6){ //fountain kiss
        top: 3.1 * $page-height + 27vw;
        left: 2.333vw;
    }
    
    &:nth-child(7){ //a robot named Jimmy 
        top: 3.1 * $page-height + 35vw;
        left:25vw;
    }
    
    &:nth-child(8){ //verde moderna
        top: 3.1 * $page-height + 30vw;
        left: 45.667vw;
    }
}

.select,
.archives {
    display: none;
}

.design-archives {
    position: absolute;
    width: 13.333vw;
    text-align: center;
    top: 1410vw;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.design-archives nav {
    margin: 0 auto;
}

.zen-resources {
    position: absolute;
    top: 1450vw;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

footer {
    box-sizing: border-box;
    height: $page-height;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
    padding-top: $small-screen-top-of-page-padding;
    align-items: flex-start;
    justify-content: center;
}

footer a {
    display: flex;
    border: 3px solid $pencilColor;
    border-radius:50px;
    width: 11vw;
    height: 4vw;
    align-items: center;
    justify-content: center;
    margin: 0.667vw;
    z-index: 5;
}

ul {
    list-style: none;
    padding: 0;
}


html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

body {
    background-image: url(../images/woodOptimized.jpg);
    background-size: contain;
    height: 100%;

}

.page-wrapper {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    position: relative;
}


#zen-intro,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer {
    height: $page-height;
    margin-bottom: 20.333vw; 
    padding-left: 5%;
    @include paper-texture-small;
    box-shadow: $box-shadow;
}

#zen-participation{
    margin-bottom:22.333vw;
    margin-top:25vw;
}

#zen-benefits{
    margin-top:30vw;
}


.wrapper,
.sidebar,
.design-selection {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}


