@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Permanent+Marker&display=swap');
$primary: #FFFFFF;
$accent1: #9BDCF8;
$accent2: #EE6358;
$pencilColor: #515151;
$penColor: #000000;
$linkColor: #C90909;
$stickyNote1: #F359B7;
$stickyNote2: #F7EA5D;
$altColorText:#FFFFFF;
$bodyFont: 'Architects Daughter', cursive;
$headerFont: 'Permanent Marker', cursive;
$stickyFont: 'Caveat Brush', cursive;
$fontWeight: 600;