@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Permanent+Marker&display=swap');

//colors
$primary: #FFFFFF;
$accent1: #9BDCF8;
$accent2: #EE6358;
$transparent: rgba(255, 255, 255, 0);
$pencilColor: #515151;
$penColor: #000000;
$linkColor: #C90909;
$stickyNote1: #F359B7;
$stickyNote2: #F7EA5D;
$altColorText:#FFFFFF;
$linkHoverColor: #ce6969;

//layout
$large-breakpoint: 1150px;
$page-height: 250vw;
$page-height-large: 100vw;
$sticky-margin: 50px;
$small-sticky-size: 8.333vw;
$large-sticky-size: 11.333vw;
$sticky-margin: 10px; //this is what will be multiplied by to place the sticky notes in large view
$sidebar-width: 33vw;
$small-screen-top-of-page-padding: 22vw;

//type
$bodyFont: 'Architects Daughter', cursive;
$headerFont: 'Permanent Marker', cursive;
$stickyFont: 'Caveat Brush', cursive;
$fontWeight: 600;
$h1-size: 5vw;
$h1-large-size:1.5em;
$h2-size: 4vw;
$h2-large-size:1em;
$h3-size: 3.5vw;
$h3-large-size:.7em;
$regular-font-size: 3.33vw;
$regular-large-font-size:.5em;
$small-font-size: 2.880vw;
$small-large-size:.75em;
$sticky-font-size: 3vw;
$sticky-large-font-size:.75em;
$fontWeight: 600;
$line-height: 1.6;

//extra styles
$box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw $pencilColor;


