@import 'variables'; //variables are now global, and don't require anything in front.
@import 'atoms';  // assumes file is named _atoms.scss
//@use 'molecules';
//@use 'organisms' as o;  // can shorten the name if we like :)s

*{
    box-sizing: border-box;
}
html{
    width:100%;
}
body{
    width: 80%;
    margin:auto;
    background-image: url("./Wood\ Background.jpg");
    // background-image: url("../images/woodOptimized.jpg");

}
main{
    background-color:rgb(207, 229, 236);
    widows: 80%;
    padding:0.5em;
    margin:auto;
}


.color-chart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.color-chart > div{
    margin:0;
    padding:auto;
    width: 25%;
    height: 3em;

}
.headings-example{
    font-family: $headerFont;
}
.body-example{
    font-family: $bodyFont;
}
.sticky-example{
    font-family: $stickyFont;
}

.paper-background-color{
    background-color: $primary;
}
.blue-lines{
    background-color: $accent1;
}
.red-lines{
    background-color: $accent2;
}
.pencil-color{
    background-color: $pencilColor;
    color: $altColorText;
}
.pen-color{
    background-color: $penColor;
    color: $altColorText;
}
.link-color{
    background-color: $linkColor;
    color: $altColorText;
}
.sticky-one{
    background-color: $stickyNote1;
}
.sticky-two{
    background-color: $stickyNote2;
}
.sticky{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}