@use './variables' as *; //variables are now global, and don't require anything in front.
@use 'atoms';  // assumes file is named _atoms.scss
//@use 'molecules';
//@use 'organisms' as o;  // can shorten the name if we like :)s

.paper-background-color{
    background-color: $primary;
}
.blue-lines{
    background-color: $accent1;
}
.red-lines{
    background-color: $accent2;
}
.pencil-color{
    background-color: $pencilColor;
    color: $altColorText;
}
.pen-color{
    background-color: $penColor;
    color: $altColorText;
}
.link-color{
    background-color: $linkColor;
    color: $altColorText;
}
.sticky-one{
    background-color: $stickyNote1;
}
.sticky-two{
    background-color: $stickyNote2;
}