@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat+Brush&family=Permanent+Marker&display=swap");
@font-face {
  font-family: 'Tombats';
  src: url("./doodleFonts/Tombats-One.woff2") format("woff2"), url("./doodleFonts/Tombats-One.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: #515151;
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  font-size: 3.33vw;
  line-height: 1.6;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 5vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 4vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

h3 {
  font-family: "Permanent Marker", cursive;
  font-size: 3.5vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

a {
  color: #C90909;
}

a:hover {
  color: #ce6969;
}

.design-selection ul li {
  color: #000000;
  font-family: "Caveat Brush", cursive;
  font-size: 3vw;
  line-height: 1.2;
  text-align: center;
}

.design-selection ul li a {
  color: #000000;
}

.design-name {
  font-size: 2.88vw;
}

.designer-name {
  font-size: 2.88vw;
}

footer a {
  font-size: 2.88vw;
}

@media screen and (min-width: 1150px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.7em;
  }
  p {
    font-size: 0.5em;
  }
  .design-selection ul li {
    font-size: 0.75em;
  }
  .design-name {
    font-size: 0.75em;
  }
  .designer-name {
    font-size: 0.75em;
  }
  .design-archives {
    font-size: 0.7em;
  }
}

@font-face {
  font-family: 'Tombats';
  src: url("./doodleFonts/Tombats-One.woff2") format("woff2"), url("./doodleFonts/Tombats-One.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: #515151;
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  font-size: 3.33vw;
  line-height: 1.6;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 5vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 4vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

h3 {
  font-family: "Permanent Marker", cursive;
  font-size: 3.5vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

a {
  color: #C90909;
}

a:hover {
  color: #ce6969;
}

.design-selection ul li {
  color: #000000;
  font-family: "Caveat Brush", cursive;
  font-size: 3vw;
  line-height: 1.2;
  text-align: center;
}

.design-selection ul li a {
  color: #000000;
}

.design-name {
  font-size: 2.88vw;
}

.designer-name {
  font-size: 2.88vw;
}

footer a {
  font-size: 2.88vw;
}

@media screen and (min-width: 1150px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.7em;
  }
  p {
    font-size: 0.5em;
  }
  .design-selection ul li {
    font-size: 0.75em;
  }
  .design-name {
    font-size: 0.75em;
  }
  .designer-name {
    font-size: 0.75em;
  }
  .design-archives {
    font-size: 0.7em;
  }
}

html {
  min-height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(images/woodOptimized.jpg);
  background-size: contain;
  height: 100%;
}

.page-wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  position: relative;
}

#zen-intro,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer {
  height: 250vw;
  margin-bottom: 20.333vw;
  padding-left: 5%;
  -webkit-box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
          box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgba(255, 255, 255, 0)), color-stop(90%, rgba(255, 255, 255, 0)), color-stop(60%, #FFFFFF)), repeating-linear-gradient(0deg, #9BDCF8 18.5%, #FFFFFF 18.8%, #FFFFFF 20.5%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 90%, #FFFFFF 60%), repeating-linear-gradient(0deg, #9BDCF8 18.5%, #FFFFFF 18.8%, #FFFFFF 20.5%);
}

.intro div {
  margin-top: 4.5vw;
}

.intro .preamble {
  margin-top: 2.7vw;
}

.explanation h3, .participation h3, .benefits h3, .requirements h3 {
  padding-top: 22vw;
}

.explanation p, .participation p, .benefits p, .requirements p {
  margin-top: -.5vw;
}

#zen-participation {
  margin-bottom: 22.333vw;
  margin-top: 25vw;
}

#zen-benefits {
  margin-top: 30vw;
}

.wrapper,
.sidebar,
.design-selection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.design-selection ul li {
  position: absolute;
  display: block;
  height: 16.333vw;
  width: 16.333vw;
  background-color: #F7EA5D;
  -webkit-box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
          box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
  font-size: 2.88vw;
}

.design-selection ul li:nth-child(1) {
  top: 255.333vw;
}

.design-selection ul li:nth-child(2) {
  top: 252.667vw;
  left: 18.333vw;
}

.design-selection ul li:nth-child(3) {
  top: 254.5vw;
  left: 36.533vw;
}

.design-selection ul li:nth-child(4) {
  top: 529.333vw;
  left: 2.667vw;
}

.design-selection ul li:nth-child(5) {
  top: 525.667vw;
  right: 2.667vw;
}

.design-selection ul li:nth-child(6) {
  top: 802vw;
  left: 2.333vw;
}

.design-selection ul li:nth-child(7) {
  top: 810vw;
  left: 25vw;
}

.design-selection ul li:nth-child(8) {
  top: 805vw;
  left: 45.667vw;
}

.select,
.archives {
  display: none;
}

.design-archives {
  position: absolute;
  width: 13.333vw;
  text-align: center;
  top: 1410vw;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.design-archives nav {
  margin: 0 auto;
}

.zen-resources {
  position: absolute;
  top: 1450vw;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 250vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5vw;
  padding-top: 22vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #515151;
  border-radius: 50px;
  width: 11vw;
  height: 4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.667vw;
  z-index: 5;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../images/woodOptimized.jpg);
  background-size: contain;
  height: 100%;
}

.page-wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  position: relative;
}

#zen-intro,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
footer {
  height: 250vw;
  margin-bottom: 20.333vw;
  padding-left: 5%;
  -webkit-box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
          box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgba(255, 255, 255, 0)), color-stop(90%, rgba(255, 255, 255, 0)), color-stop(60%, #FFFFFF)), repeating-linear-gradient(0deg, #9BDCF8 18.5%, #FFFFFF 18.8%, #FFFFFF 20.5%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 90%, #FFFFFF 60%), repeating-linear-gradient(0deg, #9BDCF8 18.5%, #FFFFFF 18.8%, #FFFFFF 20.5%);
  box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
}

#zen-participation {
  margin-bottom: 22.333vw;
  margin-top: 25vw;
}

#zen-benefits {
  margin-top: 30vw;
}

.wrapper,
.sidebar,
.design-selection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.preamble::after {
  content: "BCD";
  font-family: 'Tombats';
  font-size: 18.533vw;
}

.summary > p + p::after {
  content: "H";
  font-family: 'Tombats';
  font-size: 18.533vw;
  margin-right: 10px;
  float: right;
}

.explanation::after {
  content: "F";
  font-family: 'Tombats';
  font-size: 18.533vw;
  margin-left: 50%;
}

.explanation > p:nth-of-type(1)::after {
  content: "K ";
  font-family: 'Tombats';
  font-size: 18.533vw;
  float: left;
  margin-right: 10px;
}

.participation::after {
  content: "LMO";
  font-family: 'Tombats';
  font-size: 18.533vw;
}

.benefits p::before {
  content: "Q";
  font-family: 'Tombats';
  font-size: 8.533vw;
  float: left;
}

.benefits::after {
  content: "n";
  font-family: 'Tombats';
  font-size: 45vw;
  margin-top: -75px;
  margin-left: 30%;
}

.zen-resources::after {
  content: "A";
  font-family: 'Tombats';
  font-size: 20vw;
}

@font-face {
  font-family: 'Tombats';
  src: url("./doodleFonts/Tombats-One.woff2") format("woff2"), url("./doodleFonts/Tombats-One.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: #515151;
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  font-size: 3.33vw;
  line-height: 1.6;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 5vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 4vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

h3 {
  font-family: "Permanent Marker", cursive;
  font-size: 3.5vw;
  font-weight: 200;
  color: #515151;
  text-decoration: none;
}

a {
  color: #C90909;
}

a:hover {
  color: #ce6969;
}

.design-selection ul li {
  color: #000000;
  font-family: "Caveat Brush", cursive;
  font-size: 3vw;
  line-height: 1.2;
  text-align: center;
}

.design-selection ul li a {
  color: #000000;
}

.design-name {
  font-size: 2.88vw;
}

.designer-name {
  font-size: 2.88vw;
}

footer a {
  font-size: 2.88vw;
}

@media screen and (min-width: 1150px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.7em;
  }
  p {
    font-size: 0.5em;
  }
  .design-selection ul li {
    font-size: 0.75em;
  }
  .design-name {
    font-size: 0.75em;
  }
  .designer-name {
    font-size: 0.75em;
  }
  .design-archives {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 1150px) {
  html,
  .page-wrapper,
  .wrapper,
  .sidebar,
  .design-selection,
  .design-selection ul li {
    position: static;
    padding-top: 0;
  }
  .intro h1 {
    margin-top: 2rem;
    margin-left: 1.2rem;
  }
  .intro h2 {
    margin-top: -3.2rem;
    margin-left: 1.2rem;
  }
  .intro div {
    margin-top: -2.4rem;
    margin-left: 1.2rem;
  }
  .intro .preamble {
    margin-top: -1.6rem;
    margin-left: 1.2rem;
  }
  .intro .preamble h3 {
    margin-bottom: -1rem;
  }
  .explanation h3, .participation h3, .benefits h3, .requirements h3 {
    padding-top: 6rem;
    margin-left: 1.2rem;
  }
  .explanation p, .participation p, .benefits p, .requirements p {
    margin-left: 1.2rem;
  }
  .explanation p:nth-child(2), .participation p:nth-child(2), .benefits p:nth-child(2), .requirements p:nth-child(2) {
    margin-top: 0;
  }
  .benefits {
    height: 20vw;
  }
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .intro,
  .main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .sidebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .design-selection {
    width: 110%;
  }
  .design-selection nav {
    width: 33vw;
    margin-left: auto;
  }
  .design-selection ul {
    height: 100%;
    width: 33vw;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 80px;
  }
  .design-selection ul li {
    height: 11.333vw;
    width: 11.333vw;
    margin: 10px;
  }
  .design-selection ul li:nth-child(2) {
    margin-top: 210px;
    margin-left: -50px;
  }
  .design-selection ul li:nth-child(3) {
    margin-top: -60px;
  }
  .design-selection ul li:nth-child(4) {
    margin-left: -140px;
    margin-top: 70px;
  }
  .design-selection ul li:nth-child(5) {
    margin-left: -60px;
    margin-top: 210px;
  }
  .design-selection ul li:nth-child(6) {
    margin-top: -50px;
  }
  .design-selection ul li:nth-child(7) {
    margin-right: 80px;
    content: '';
  }
  .design-selection ul li:nth-child(8) {
    margin-left: 50px;
    margin-top: -40px;
  }
  #zen-intro,
  #zen-explanation,
  #zen-participation,
  #zen-benefits,
  #zen-requirements,
  footer {
    -webkit-box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
            box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
    background: -webkit-gradient(linear, left top, right top, color-stop(7%, rgba(255, 255, 255, 0)), color-stop(7%, #EE6358), color-stop(7.5%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgba(255, 255, 255, 0)), color-stop(90%, rgba(255, 255, 255, 0)), color-stop(60%, #FFFFFF)), repeating-linear-gradient(0deg, #9BDCF8 18.5%, #FFFFFF 18.7%, #FFFFFF 20%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 7%, #EE6358 7%, rgba(255, 255, 255, 0) 7.5%), linear-gradient(to top, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 90%, #FFFFFF 60%), repeating-linear-gradient(0deg, #9BDCF8 18.5%, #FFFFFF 18.7%, #FFFFFF 20%);
    height: 100vw;
    padding-left: 90px;
    padding-right: 20px;
  }
  footer {
    -webkit-box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
            box-shadow: 0.267vw 0.267vw 1.333vw -0.667vw #515151;
    background: -webkit-gradient(linear, left top, right top, color-stop(7%, rgba(255, 255, 255, 0)), color-stop(7%, #EE6358), color-stop(7.5%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgba(255, 255, 255, 0)), color-stop(90%, rgba(255, 255, 255, 0)), color-stop(60%, #FFFFFF)), repeating-linear-gradient(0deg, #9BDCF8 18.5%, #FFFFFF 18.7%, #FFFFFF 20%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 7%, #EE6358 7%, rgba(255, 255, 255, 0) 7.5%), linear-gradient(to top, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 90%, #FFFFFF 60%), repeating-linear-gradient(0deg, #9BDCF8 18.5%, #FFFFFF 18.7%, #FFFFFF 20%);
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding-top: 10rem;
  }
  .design-archives {
    top: 645vw;
    right: 33%;
  }
  .zen-resources {
    font-size: 0.7em;
    top: 663vw;
    right: 33%;
  }
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-3deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-3deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

/*************Preamble Doodle*******************/
.preamble::after {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.preamble:hover::after, .summary > p + p:hover::after {
  -webkit-animation-name: hvr-buzz;
          animation-name: hvr-buzz;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
}

/*************Explanation Doodle*******************/
.explanation::after {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.explanation:hover:after, .explanation > p:nth-of-type(1):hover::after, .zen-resources:hover::after {
  -webkit-animation-name: hvr-buzz;
          animation-name: hvr-buzz;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
}

/*************Participation Doodle*******************/
.participation::after {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.participation:hover:after, .participation:focus:after, .participation:active:after {
  -webkit-animation-name: hvr-buzz;
          animation-name: hvr-buzz;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
}

/*************Benefits Doodle*******************/
.benefits p::before {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.benefits p:hover:before, .benefits p:focus:before, .benefits p:active:before {
  -webkit-animation-name: hvr-buzz;
          animation-name: hvr-buzz;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
}

.benefits::after {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.benefits:hover:after, .benefits:focus:after, .benefits:active:after {
  -webkit-animation-name: hvr-buzz;
          animation-name: hvr-buzz;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
}
/*# sourceMappingURL=style.css.map */